---
import H2 from "../Basics/h2.astro"
import Titlehr from "../Basics/titlehr.astro"
import Estudios from "./estudios.astro"
import Trabajo from "./trabajo.astro"
import Carrusel from "./carrusel.astro"
---

<section class="-mt-4 w-full h-screen min-h-screen p-4 xl:mt-24">
    <section class="flex-col space-y-8 h-1/5 w-full">
        <H2>Sobre mí</H2>
        <Titlehr/>
    </section>
    <section class="w-full h-4/5 max-h-screen lg:flex">
        <!-- <div>
            <Estudios/>
        </div>
        <div>
            <Trabajo/>
        </div> -->
        <aside class="hidden lg:block lg:w-5/12 lg:h-full bg-zinc-800">
            <img src="/src/img/joel.jpeg" alt="Home image." class="w-full h-full object-cover object-center" loading="lazy">
        </aside>
        <article class="w-full h-full space-y-16 flex flex-col items-center justify-center lg:w-7/12 lg:ml-12">
            <Estudios/>
        </article>
    </section>
</section>
