---
const { HeadingComponent, Heading2Component, headings = [], heading2Props, imgSrc, imgAlt } = Astro.props;
---

<article class="w-full h-screen lg:flex">
  <section class="lg:w-6/12 w-full h-full relative flex flex-col items-center justify-center">
    <div class="leading-5">
      {headings.map((heading, index) => (
        <HeadingComponent key={index} {...heading} />
      ))}
    </div>
    <Heading2Component {...heading2Props} />
  </section>
  <section class="hidden lg:block lg:w-6/12 lg:h-full bg-zinc-800">
    <img src={imgSrc} alt={imgAlt} class="w-full h-screen" loading="lazy" />
  </section>
</article>
