---
import Titlehr from "../Basics/titlehr.astro";
import H2 from "../Basics/h2.astro";
import H4 from "../Basics/h4.astro";
import P from "../Basics/p.astro";
import ProjectCard from "./projectCard.astro";
---

<article class="w-full min-h-screen space-y-12 p-4 lg:mt-24">
    <section class="flex-col space-y-8 h-1/4 w-full">
        <H2 children="Mis proyectos"></H2>
        <Titlehr/>
    </section>

    <main class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
        <ProjectCard
            title="Emotions App"
            description="Aplicación sencilla para quienes tienen dificultades para expresarse cara a cara."
            imageUrl="../../src/img/emotionsapp.png"
            projectUrl="https://github.com/jowy99/emotions"
            technologies={['Laravel', 'TailwindCSS', 'MySQL']}
        />
    </main>

    <section class="flex items-center justify-center">
        <a href="">
            <button class="inline-block bg-green-400 text-white px-4 py-2 rounded-md hover:bg-green-600 transition dark:bg-green-500">Ver más</button>
        </a>
    </section>
</article>