---
import Footer from "../components/Blocks/footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props{
  title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Portafolio de Joel Arnaud">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://test.joelarnaud.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Joël Arnaud Carreras">
    <meta property="og:description" content="Portafolio de Joel Arnaud">
    <meta property="og:image" content="src/assets/images/joel.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="joelarnaud.com">
    <meta property="twitter:url" content="https://joelarnaud.com/en/">
    <meta name="twitter:title" content="Joël Arnaud Carreras">
    <meta name="twitter:description" content="Portafolio de Joel Arnaud">
    <meta name="twitter:image" content="src/assets/images/joel.jpeg">

    <!-- FavIcon -->
    <link rel="shortcut icon" href="src/assets/images/Sagilogo.jpg" type="image/x-icon">
    <link rel="icon" sizes="57x57" href="src/assets/images/57x57.png" type="image/x-icon">
    <link rel="icon" sizes="120x120" href="src/assets/images/120x120.png" type="image/x-icon">
    <link rel="icon" sizes="128x128" href="src/assets/images/128x128.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="150x150" href="src/assets/images/150x150.jpg" type="image/x-icon">
    <link rel="icon" sizes="167x167" href="src/assets/images/167x167.jpg" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="src/assets/images/192x192.jpg" type="image/x-icon">
    <link rel="icon" sizes="196x196" href="src/assets/images/196x196.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="228x228" href="src/assets/images/228x228.jpg" type="image/x-icon">

    <ClientRouter/>
    
    <title>{title}</title>
  </head>
  <body class="font-AlbertSans antialiased dark:bg-zinc-800">
    <slot/>
    <Footer/>
  </body>
</html>
