---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

import H2 from "../../components/Basics/h2.astro";
import P from "../../components/Basics/p.astro";
import Button1 from "../../components/Basics/button1.astro";
import Titlehr from "../../components/Basics/titlehr.astro";

export async function getStaticPaths() {
   const projects = await getCollection("projects");

   return projects.map((project) => ({
        params: { id: project.slug},
        props: { project }
   }))
}

const { project } = Astro.props;
const { data } = project;
const { title, description, imageUrl, projectUrl } = data;

const { Content } = await render(project);
---

<Layout title={title}>
    <main class="h-screen min-h-screen">
        <a aria-label="Volver a la página anterior" onclick="window.history.back()" aria-label="Volver a proyectos" class="fixed top-4 left-4 p-2 bg-gray-800 rounded-full text-white hover:text-gray-300 focus:ring-2 focus:ring-offset-2 focus:ring-white z-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </a>        
        
        <img src={imageUrl} alt="Development projects image" class="w-full h-80 object-cover object-center" loading="lazy">

        <div class="mx-4 my-4 inline-flex items-center space-x-2 rounded-full border-2 border-done px-2 py-1 shadow-md">
            <div class="w-2 h-2 bg-done rounded-full flex-shrink-0"></div>
            <span class="capitalize inline-flex items-center text-sm font-medium text-white">proyecto terminado</span>
        </div>

        <article class="mt-8 mx-4 h-2/3 space-y-8 flex flex-col items-center">
            <H2>{title}</H2>
            <Titlehr/>
            <!-- <P>
                <Content />
            </P> -->
            <div class="prose dark:prose-invert leading-5 font-md text-green_light-500">
                <Content />
            </div>

            <div class="flex space-x-4">
                <P>Laravel</P>
                <P>JS</P>
                <P>Tailwind</P>
                <P>MySQL</P>
            </div>

            <a href={ projectUrl } target="_blank" rel="noopener noreferrer">
                <Button1>Ver proyecto</Button1>
            </a>
        </article>
    </main>
</Layout>